@import url("./loader.css");
.wrapper{
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 10px 5px;
width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    background-color: #dbc4c4;
    border: 2px solid #575252;
    padding: 5px;
    min-height: 150px;
    justify-content: space-around;
}
.card-name{
display: block;
font-weight: 600;
color:darkgreen;
font-size: 20px;
}
@media (max-width: 600px) {
    body{
        font-size: 14px;

    }
}
@media (max-width: 600px) {
    .card-name{
        font-size: 16px;

    }
}
@media (max-width: 430px) {
    
        .wrapper{
            grid-template-columns: 1fr ;
            
            }
            .card-name{
                display: flex;
                justify-content:  center;
                }

}
 
.card-email{
display: block;
}
.card-body{
display: block;
width: 100%;
}

#pagination {
	display: flex;
	padding: 0;
	list-style-type: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
#pagination li {
	display: inline;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin:  4px;
	cursor: pointer;

    
}

#pagination  li:hover:not(.active) {
    background-color: #ddd;
}
#pagination li.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
#pagination li:first-child  {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

#pagination li:last-child  {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
